ul{
  list-style: none;
  //border-top: 1px solid #dddddd;
  padding: 0 20px;

  li {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    padding: 12px 5px;
    border-bottom: 1px solid #eeeeee;

    &:active{
      background-color: rgba(255, 255, 255, .5);
    }

    .user-info{
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    .username{
      color: #0099FF;
    }

    img{
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }

    p{
      margin: .5px 0 0;
      flex: 1;
    }
  }
}

.icons{
  display: flex;

  flex-direction: row-reverse;

  .blue{
    color: #0099FF;
  }
  >span{
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }
  i{
    cursor: pointer;
    color: #666666;
    font-size: 18px;
    &:active{
      color: #0099FF;
    }
  }
}
